<header class="conatiner-fluid">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">               
                    <a class="navbar-brand" href="#">HTML-1714</a>
                </div>
            
                <div class="user-info-box navbar-right navbar-header">
                    
                </div>
                
            </div>
        </nav>
    </header>